.cancel{
    width: 190px;
    color: black;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    height: 40px;
}
.delete{
    width: 190px;
    height: 40px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}
.btn{
    display: flex;
    gap: 8px;
}